<div *ngIf="room">
    <a [routerLink]="['/rooms']">Go Back</a>
    <br>
    <h2 class="page-header">{{room.name}} <small>{{room.slogan}}</small></h2>
    <div class="row">
      <div class="col-md-4">
        <img style="width:100%" class="thumbnail" src="{{imageUrl}}">
      </div>
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item">Name: {{room.name}}</li>
          <li class="list-group-item">Image: {{room.image}}</li>
          <li class="list-group-item">Description: {{room.description}}</li>
          <li class="list-group-item">Slogan: {{room.slogan}}</li>
          <li class="list-group-item">Difficulty: {{room.difficulty}}</li>
        </ul>
      </div>
      <a class="btn btn-default" href="#">Edit</a>
      <a class="btn btn-danger" href="#">Delete</a>
    </div>
  </div>
  