<div class="jumbotron text-center">
    <div class="container">

        <h1>Escape Rooms</h1>
        <h4>WHAT IS AN ESCAPE ROOM? </h4>
        <h6>AN ESCAPE ROOM IS A 60-MINUTE REAL-LIFE ADVENTURE GAME.</h6>
        <p>
            You and your team will assemble in a themed room and will have one hour to complete your mission and “escape” the room. A successful escape will require you to find hidden clues and solve challenging puzzles throughout the room. So take a look underneath the rug or sift through the books on the shelves, and take a closer look at all those paintings on the wall. You may find a string of numbers you need for a combination lock or a good old-fashioned key for a padlock. Everywhere you look is a potential clue to get out of an escape room or riddle waiting to be solved. But hurry, the clock starts ticking the moment you enter the escape room!
        </p>
    </div>
</div>
<div class="jumbotron text-center">
    <div class="container">
    <h1>Prices</h1>
    <br>
    <h4>Easy</h4>
    <div class="card">
        <p class="card-header line-elements"><br>2 guests<br>45 RON/pers<br><br></p>
    </div>
    <div class="card">
        <p class="card-header line-elements"><br>3 guests<br>40 RON/pers<br><br></p>
    </div>
    <div class="card">
        <p class="card-header line-elements"><br>4 guests<br>35 RON/pers<br><br></p>
    </div>
    <div class="card">
        <p class="card-header line-elements"><br>5 guests<br>30 RON/pers<br><br></p>
    </div>
    <br><br>
    <h4>Medium</h4>
    <div class="card">
        <p class="card-header line-elements"><br>2 guests<br>50 RON/pers<br><br></p>
    </div>
    <div class="card">
        <p class="card-header line-elements"><br>3 guests<br>45 RON/pers<br><br></p>
    </div>
    <div class="card">
        <p class="card-header line-elements"><br>4 guests<br>40 RON/pers<br><br></p>
    </div>
    <div class="card">
        <p class="card-header line-elements"><br>5 guests<br>35 RON/pers<br><br></p>
    </div>
    <br><br>
    <h4>Hard</h4>
    <div class="card">
        <p class="card-header line-elements"><br>2 guests<br>55 RON/pers<br><br></p>
    </div>
    <div class="card">
        <p class="card-header line-elements"><br>3 guests<br>50 RON/pers<br><br></p>
    </div>
    <div class="card">
        <p class="card-header line-elements"><br>4 guests<br>45 RON/pers<br><br></p>
    </div>
    <div class="card">
        <p class="card-header line-elements"><br>5 guests<br>40 RON/pers<br><br></p>
    </div>
</div>
</div>
<div class="container contact center">
    <br>
    <h3 class="footer-h1">Contact us</h3><br>
    <div class="contactbox">
        <div class="footer-item">
            <ul>
                <li>
                    <img src="assets/images/telephone.png">
                    <h6 class="footer-heading">+40 752 081 122</h6>
                    <h6 class="footer-heading">+40 761 547 211</h6>
                </li>
            </ul>
        </div>
        <br> 
        <div class="footer-item">
            <ul>
                <li>
                    <img src="assets/images/map.png">
                    <h6 class="footer-heading">Str. Timocului nr.20</h6>
                </li>
            </ul>
            
            
        </div>
        <br>
        <br>
        <div class=footer-item>
            <ul>
                <li>
                    <img src="assets/images/mail.png">
                    <h6 class="footer-heading">hategan3@gmail.com</h6>
                    <h6 class="footer-heading">marycociorvan@yahoo.ro</h6>
                </li>
            </ul>
        </div>
    </div>
    <br>
</div>